@model IEnumerable<PaginaWebGaes23.Models.DBCiudadesDROP>

@{
    ViewBag.Title = "Página Principal";
    Layout = "~/Views/Shared/_LayoutAdmon.cshtml";
}
<br /><br /><h1>hyiuahdocbljhsoihc</h1><br /><br />